@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/typography";
@use "../utils/media-querries";
@use "../utils/animations";
@use "../components/order_button";

.menu {
    background-color: #f1f1f1;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    font-family: typography.$text-font-family;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: -46px;
    
    &-header {
        @include mixins.center-flex;
        justify-content: space-between;
        padding: 0px;
        padding-top: 10px;

        &__title {
            font-family: typography.$heading-font-family;
            font-size: typography.$heading-font-size;
            font-weight: 500;
        }

        &__heart {
            border: none;
            font-size: 22px;
        }   
    }
    &-button {
        @include order_button.button;
        @include mixins.center-flex;
        width: 200px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 60px;
        transition: 300ms ease-in-out;
        & a {
            text-decoration: none;
            color:white;
            font-weight: 700;
        }
        &:hover {
            transform: scale(1.02);
            filter: brightness(1.1);
        box-shadow: 0px 0px 67px -20px rgba(0,0,0,0.5);;
        }
    }
    
    
}