// typography rules

// heading typography

$heading-font-family: 'Shrikhand', sans-serif;
$heading-font-size: 22px;
$heading-font-weight: 0px;

// text typography 

$text-font-family: 'Roboto', sans-serif;
$text-font-size: 20px;
$title-font-size: 0px;
$title-font-weight: 0px;
$body-font-size: 0px;
$body-font-weight: 0px;


