// colors variables

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background: #e2e0e098;
$color-background-brighter: #f2f2f2b2;
$color-shadow: rgba(0, 0, 0, 0.384)
