@use "../utils/_variables.scss";
@use "../utils/_typography.scss";
@use "../utils/mixins";
@use "../components/button";

.explore {
    @include mixins.center-flex;
    flex-direction: column;
    gap: 30px;
    font-family: typography.$text-font-family;
    padding: 30px;
    background-color: variables.$color-background-brighter;
    &-title {
        text-align: center;
        font-size: 25px;
    }
    &-subtitle {
        text-align: center;
        font-weight: 200;
    }
    &-button {
        @include button.button
    }
}