@use "../utils/variables";
@use "../utils/typography";
@use "../utils/mixins";
@use "../components/button";
@use "../utils/media-querries";

.explore {
    @include mixins.center-flex;
    flex-direction: column;
    gap: 30px;
    font-family: typography.$text-font-family;
    padding: 30px;
    background-color: variables.$color-background-brighter;
    
    &-title {
        text-align: center;
        font-size: 25px;
    }
    &-subtitle {
        text-align: center;
        font-weight: 200;
    }
    &-button {
        @include button.button
    }
    @include media-querries.mobile-only {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}