@use "../utils/variables";
@use "../utils/typography";
@use "../utils/mixins";
@use "../utils/media-querries";


.header {
    height: 100px;
    z-index:1000;
    position: relative;

    & h1 {
    @include mixins.center-flex;
    font-family: typography.$heading-font-family , sans-serif;
    text-align: center;
    height: 100px;
    box-shadow: 0px 5px 5px -5px variables.$color-shadow;
    color: black;
    
    @include media-querries.mobile-only {
        box-shadow: none;
    }
    }  

    &__withArrow {
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;

        & :last-child {
            text-decoration: none;
        }

        & .fa-arrow-left {
            color: rgba(0, 0, 0, 0.685);
        }
    }
    
    & ::before {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
         
    }

}

.heart {
    opacity: 0;
    &:hover {
        opacity: 1;
    }
    }