@use "../utils/_variables.scss";

@mixin button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    background:linear-gradient(variables.$color-secondary, variables.$color-primary);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    transition: 300ms ease-in-out ;
     &:hover {
        transform: scale(1.01);
        filter: brightness(1.1);
        box-shadow: 0px 0px 67px -20px rgba(0, 0, 0, 0.5);;
     }
}