@use  "../utils/variables";
@use "../utils/mixins";
@use "../utils/typography";
@use "../utils/media-querries";
@use "../utils/animations";
@use "../components/button";



.menu {
    background-color: #f1f1f1;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: -46px;
    font-family: typography.$text-font-family;
    width: 100%;
    
    &-header {
        @include mixins.center-flex;
        justify-content: space-between;
        padding: 0px 30px;

        &__title {
            font-family: typography.$heading-font-family;
            font-size: typography.$heading-font-size;
            font-weight: 500;
        }

        &__heart {
            border: none;
            font-size: 22px;
        }   
    }
    &-button {
        @include button.button;
        @include mixins.center-flex;
        width: 200px;
        margin: auto;
        margin-top: 50px;
        & a {
            text-decoration: none;
            color:white;
            font-weight: 700;
        }
    }
    
    
}

.cards {
    width: 100%;
    &__heading {
        padding: 30px 0px 10px 20px;
        color: rgba(0, 0, 0, 0.644);
        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: variables.$color-tertiary;
            position: absolute;
        }
    }
    &-menu {
        background-color: white;
        display: flex;
        gap: 20px;
        border-radius: 20px;
        height: 75px;
        width: 100%;
        display: flex;
        box-shadow: 0px 2px 10px -1px variables.$color-shadow;
        overflow: hidden;

        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            padding: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width:100%;
            > :first-child {
                font-weight: 800;
            }
        }

        &__price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 10px;
            font-weight: 600;
        }

        &__check {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            margin-right: -70px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: variables.$color-tertiary;
            transition: 0.8s;
            color: white;
            font-size: 22px;
        }

        &:hover .cards-menu__check {
            margin-right: 0px;
        }

        &:hover .cards-menu__check i {
            animation: spin-price 0.8s;
        }

        }
        &-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        
            @include media-querries.mobile-only {
                display: grid;
                grid-template-columns: repeat(3, 32%);
                 }
        }
    
}